<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.memorise">
    //权限许可配置，网络接入、读写存储
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.update_password"></activity>
        <activity android:name=".activity.update_address" />
        <activity android:name=".activity.update_plan" />
        <activity android:name=".activity.update_email" />
        <activity android:name=".activity.update_sign" />
        <activity android:name=".activity.update_id" />
        <activity android:name=".activity.loginActivity" />
        <activity android:name=".activity.helpActivity" />
        <activity android:name=".activity.aboutActivity" />
        <activity android:name=".activity.webActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>